@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Reenie+Beanie');
@import url('https://fonts.googleapis.com/css?family=Poppins:900');


//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-greylight: #e6e6dd;

$color-main: #308f40;
$color-secondary: #ae2058;
$color-third: #ae2058;

// FONTS
$font-main: "PT Sans";
$font-special: "Staatliches";

// FONTS SIZE
$size-xsmall: .7rem;
$size-small: .8rem;
$size-normal: 1rem;
$size-medium: 1.2rem;
$size-big: 2rem;
$size-huge: 3rem;

// HEIGHTS
$line-height: 1.25em;
$gutter: 2vw;
$space: 3vh;
